aws_region             = "us-east-1"
ses_from_address       = "your-verified-email@example.com"
lambda_pkg_dir         = "packages"
admin_email            = "admin@electrotech.com"
stripe_secret_key      = "sk_test_your_secret_key"
stripe_webhook_secret  = "whsec_your_webhook_secret"
